.card-effect {
    white-space: pre-line;
}

.user {
    font-weight: 700;
    color: rgb(0, 110, 74);
}

.card-img {
    max-width: 50%;
}

td {
    align-items: center;
    vertical-align: middle;
}
